/* Reset default margins and paddings */
html,
body,
header,
.container,
.section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family and default font size for the page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style the header with the page heading */
header {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 175%;
}

/* Create the container to hold the sections */
.container {
  padding: 20px;
}

/* Style each section */
.section {
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  margin-right: auto;
  position: relative;
  display: inline-block;

}

/* Style section title region */
.section-title {
  position: absolute;
  top: 0;
  right: 0;
  color: white; 
  padding: 5px 10px;
  font-size: 125%; 
}

#chi{

background-color: #ff9999;
}
#be{
  background-color: rgb(255, 101, 101);
}
#su{
  background-color: rgb(234, 234, 88);
}

/* Style the dummy text */
.dummy-text {
  margin-top: 30px;
  font-size: 16px;
}

/*Deskop/tablet/phone view rules*/
@media (min-width: 992px) {
  .section {
    width: 30%; 
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  #beef , #chicken {
width: 45%;
  }
  #sushi {
    width: 100%; 
  }
}


@media (max-width: 767px) {
  .section {
    width: 100%;
  }
}
