/* Reset default margins and paddings */
html,
body,
header,
.container,
.section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family and default font size for the page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style the header with the page heading */
header {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 175%;
}

/* Create the container to hold the sections */
.container {
  padding: 20px;
}

/* Style each section */
.section {
  background-color: gray;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  float: left;

}
section:hover{
  background-color: maroon;
}

/* Style section title region */
.section-title {
  position: absolute;
  border: 1px solid black;
  top: 0;
  right: 0;
  color: black; 
  padding: 5px 10px;
  font-size: 125%; 
  border-radius: 10px;

}
.section-price {
  background-color: purple;
  padding: 5px 10px;
  /* margin: 5; */
  bottom: 0;
  position: absolute;
  width: 25px;
  border-radius: 10px;
}

#chi{

background-color: #ff9999;
}
#be{
  background-color: rgb(255, 101, 101);
}
#su{
  background-color: rgb(234, 234, 88);
}

/* Style the dummy text */
.dummy-text {
  margin-top: 30px;
  font-size: 16px;
}

/*Deskop/tablet/phone view rules*/
@media (min-width: 1200px) {
  .section {
    width: 33%; 
  }
}


@media (min-width: 850px) and (max-width: 1199px) {
  #beef , #chicken {
width: 50%;
  }
  #sushi {
    width: 100%; 
  }
}


@media (max-width: 849px) {
  .section {
    width: 100%;
  }
}
